<nz-layout>
    <nz-header class="global-header">
        <div class="logo-container" [style.width.px]="width">
            <span class="logo">
                <img src="./assets/logo/mini-logo.png">
                <span class="logo-name" *ngIf="!isCollapsed">Major Perk</span>
            </span>
        </div>

        <div class="user-menu">
            <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
                <span nz-dropdown>
                    <i nz-icon type="user"></i>
                    Troy Crema
                    <i nz-icon type="down"></i>
                </span>
                <ul nz-menu nzSelectable style="margin-top: 15px;">
                    <li (click)="routeTo('profile')" nz-menu-item>
                        <i nz-icon nzType="setting"></i>Profile
                    </li>
                    <li (click)="routeTo('manager')" nz-menu-item>
                        <i nz-icon nzType="audit"></i>Employee Rewards
                    </li>
                    <li (click)="routeTo('login')" nz-menu-item>
                        <i nz-icon nzType="logout"></i>Sign Out
                    </li>
                </ul>
            </nz-dropdown>
        </div>

    </nz-header>

    <nz-layout>
        <nz-sider [nzTheme]="'light'" nzCollapsible
            [(nzCollapsed)]="isCollapsed"
            [nzWidth]="width"
            [nzReverseArrow]="isReverseArrow">

            <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
                <li nz-menu-item>
                    <span><i nz-icon type="user"></i><span class="nav-text">User</span></span>
                </li>
                <li nz-menu-item>
                    <span><i nz-icon type="dashboard"></i><span
                            class="nav-text">Dashboard</span></span>
                </li>
                <li nz-menu-item>
                    <span><i nz-icon type="file"></i><span class="nav-text">File</span></span>
                </li>
                <li nz-menu-item>
                    <span><i nz-icon type="setting"></i><span class="nav-text">Settings</span></span>
                </li>
            </ul>
        </nz-sider>
    </nz-layout>

    <nz-layout class="content" [style.margin-left.px]="width">
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>

        <nz-footer style="text-align: center;"> Reetayn ©2019 All Rights Reserved </nz-footer>
    </nz-layout>
</nz-layout>
