<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
</nz-breadcrumb>

<div nz-row [nzGutter]="8" style="margin-bottom: 10px;">
  <div nz-col [nzSpan]="24 / count" *ngFor="let item of data">
    <nz-card class="stat-card" [style.background]="item.color"
      [nzBordered]="false" nzHoverable>
      <span style="font-size: 14px;">{{item.abbreviation}}</span>
      <p style="font-size: 24px; margin: 0">{{item.value}} {{item.suffix}}</p>
    </nz-card>
  </div>
</div>

<div nz-row [nzGutter]="8" style="margin-bottom: 10px;">
  <div nz-col [nzSpan]="12">
    <div style="background-color: white; height: 300px; padding: 5px">
      <h1>Put some graphs here, please</h1>
    </div>
  </div>
  <div nz-col [nzSpan]="12">
    <div style="background-color: white; height: 300px; padding: 5px">
      <h1>Put some graphs here, please</h1>
    </div>
  </div>
</div>

<!-- <div style="padding:24px; background: #fff; min-height: 360px;"> -->
<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Teams</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card>
  Content
</nz-card>
<!-- </div> -->